.checkout-page {
  height: 780px;

  th {
    text-align: center;
  }

  .checkout-table {
    margin: 40px auto;
    width: 100%;
    max-width: 1400px;
  }

  .checkout-payments {
    max-width: fit-content;
    margin: 0 auto;

    .checkout-pay-later {
      font-size: 12px;
      cursor: pointer;
    }
  }

  .checkout-no-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image-container {
      width: 60px;
      margin-bottom: 12px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .image, .size {
    display: none;
  }
}