.checkout-item {
  height: 100px;

  .image-container {
    margin: 0 auto;
    height: 80px;
    width: 100px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  td {
    text-transform: capitalize;
    text-align: center;
  }

  .checkout-item-detail {
    padding-top: 35px;

    .quantity {
      display: flex;
      justify-content: center;
  
      .arrow {
        cursor: pointer;
      }
  
      .value {
        margin: 0 10px;
      }
    }

    .remove-button {
      padding-left: 12px;
      cursor: pointer;
    }
  }
}

.addOns {
  height: 35px;
  background-color: #EEEEEE;

  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width: 500px) {
  .image, .size {
    display: none;
  }
}