
.checkout-item {
  height: 100px;

  .image-container {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .quantity {
    display: flex;
    justify-content: center;

    .arrow {
      cursor: pointer;
    }

    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }

  td {
    padding-top: 35px;
    text-transform: capitalize;
    text-align: center;
  }
}

.addOns {
  height: 35px;
  background-color: #EEEEEE;

  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}