html {
  overflow-x: hidden;
}

body {
  padding: 0 60px;
  overflow-x: hidden;
  background-color: #239346;
}

main, nav, footer {
  background-color: white;
}

a, .div-link {
  color: #be0027;
  text-decoration: none;
  cursor: pointer;
}

a:hover, .div-link:hover {
  color: #ff0033;
}

* {
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  body {
    padding: 0;
  }
}