html {
  overflow-x: hidden;
}

body {
  padding: 0 60px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  body {
    padding: 0;
  }
}