.jumbotron-container {
  // .image-container {
  //   height: 320px;
  //   width: 600px;
  //   overflow-y: hidden;

  //   img {
  //     margin-top: -140px;
  //     height: 600px;
  //     width: 600px;
  //     object-fit: center;
  //   }
  // }
  .jumbotron-header {
    font-size: 160px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;

    img {
      height: 160px;
      margin: -25px 30px 0 30px;
    }
  }

  .lead.jumbotron-text-followup {
    font-family: 'Roboto', sans-serif; 
  }

  .jumbotron-bold-text {
    font-size: 110px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;

    img {
      width: 100px;
      margin: -15px 0 0 -10px;
    }
  }
}