.signin-page {
  height: 780px;
  padding: 40px;

  form {
    max-width: 500px;
    margin: 0 auto;
  }

  .signin-to-register {
    font-size: 14px;
    display: block;
  }

  button {
    width: 100%;
    background-color: #be0027;
    border: none;

    &:hover {
      background-color: #ff0033;
    }
  }
}